* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
    /* font-size: 62.5%; */
}

::-webkit-scrollbar {
    width:  0.5rem;
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 0.5rem;
    transition: all .3s linear;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}


/* ------------------- Text Align ------------------- */
.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}